<!doctype html>
<html lang="en" ng-app="app">

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="kwik property">
    <meta name="author" content="kwik">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <h1>Welcome to <%= title %></h1>
        <main ng-view></main>
    </div>
    <script src="js/app.min.js"></script>
</body>

</html>